FederatedLearningESP32/.pio
FederatedLearningESP32/.vscode/.browse.c_cpp.db*
FederatedLearningESP32/.vscode/c_cpp_properties.json
FederatedLearningESP32/.vscode/launch.json
FederatedLearningESP32/.vscode/ipch
FederatedLearningESP32/.vscode/extensions.json