.vscode
FederatedLearningESP32/build
FederatedLearningESP32/.devcontainer
FederatedLearningESP32/.vscode
FederatedLearningServer/.vscode
FederatedLearningServer/.build
FederatedLearningServer/FederatedLearningServer
NeuralNetworkFPGA